.header.clearfix
block link

-var menu = { 'todo': '/', 'complete': '/complete'};

  div.row
    div.col-md-6.col-md-offset-3
      ul.nav.nav-tabs
        each val, key in menu
          if selected === key
            li.active(role='presentation')
              a(href=val, title=key)= key
          else
            li(role='presentation')
              a(href=val, title=key)= key
