extends ../layout

block link

  -var selected = 'complete';

block content
  .container
    div.row
      div.col-md-6.col-md-offset-3
        section
          h1 Complete list
        h3 To do app made by Marc V.

        ul
          each compl in complete
            li= compl.task
              p= compl.time
    
