extends ../layout

block link

  -var selected = 'todo';

block content
  .container
    div.row
      div.col-md-6.col-md-offset-3
        section
          h1 TO-DO list
        h3 To do app made by Marc V.
    
    
        form.form-horizontal(action='todo-list', method='POST')

          fieldset    
            .input-group
              input.form-control(name='task' type='text', placeholder='To Do...', autofocus)
              span.input-group-btn
                button.btn.btn-default ToDo!

        h3 List
        ul.list-group
          each task in tasks
            li.list-group-item
              p.taskItem= task.task
              input.hidden.inpTask(value=task.task)
              p= task.time
                input.hidden.taskId(value=task.id)
                button.remove.btn-primary.pull-right Done task
                button.delete.btn-danger.pull-right Delete task
        button.removeAll Done all list
              
